.idea/*
.secrets/*


docs/*.png
/infrastructure/environments/dev/.terraform.lock.hcl
/infrastructure/environments/dev/.terraform/providers/registry.terraform.io/hashicorp/google/7.21.0/linux_amd64/LICENSE.txt
/infrastructure/environments/dev/.terraform/modules/modules.json
/infrastructure/environments/dev/.terraform/terraform.tfstate
/infrastructure/environments/dev/terraform.tfstate
/infrastructure/environments/dev/terraform.tfstate.backup
/infrastructure/environments/dev/.terraform/providers/registry.terraform.io/hashicorp/google/7.21.0/linux_amd64/terraform-provider-google_v7.21.0_x5
