.idea/*
.secrets/*
docs/*.png


/infrastructure/environments/dev/.terraform*
/infrastructure/environments/dev/terraform*

/infrastructure/environments/prod/.terraform*
/infrastructure/environments/prod/terraform*